body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
				height: 500px;
				background: ;
}
.container{ width: 1140px; margin: auto;
				
}
h1{
font-size: 50px;	
}
h1 span{
				color: orange;
}
h2{
				
}
h3{
				
}
p{ 
				color: dimgray;
}
.half-width{
 width: 40%;
    float: left;
    padding-left: 5%;
    padding-bottom: 150px;
}
img{
    width: 100%;
